.App {
  /* text-align: center; */
 

}

header{
 
  text-align: center;
  background-color:rgb(79, 79, 246);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem ;
  color:white
}
footer{
  position: sticky;
text-align: center;
  background-color: rgb(78, 78, 123);
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  font-weight: bold;
  font-size: 1.1rem ;
  color:white
}
